/* start */

@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,700,700i&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Lora', serif;
}

#wrap{
	padding: 50px 100px;
}

.red{
	color: red;
}

.yellow{
	color: yellow;
}

.green{
	color: green;
}

.cyan{
	color: cyan;
}

#test-form{
	max-width: 460px;
	padding: 10px;
	margin: 5px;
	border: 1px solid #f4f4f4;
	border-radius: 5px;
}

#test-form input[type="text"]{
	width: 100%;
	padding: 7px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: block;
	margin: 5px 0;
	outline: none;
}

#test-form input[type="checkbox"]{
	width: 20px;
	height: 20px;
}

#test-form input[type="range"]{
	width: 100%;
}

#test-form textarea{
	width: 100%;
	height: 80px;
	padding: 7px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: block;
	margin: 5px 0;
	outline: none;
	resize: none;
}

#test-form input[type="submit"]{
	font-weight: 700;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	display: inline-block;
	margin: 5px 0;
	outline: none;
	cursor: pointer;
}





/* end */